.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 625px;
}

.u-section-1 .u-slider-1 {
  min-height: 523px;
  width: 1140px;
  margin: 51px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  bottom: 30px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/porto-recanati.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/FOTO-Panoramica-Monte-Conero-1600x5471.jpg");
  background-position: 36.89% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/il-trave-coner-1.jpg");
  background-position: 50% 5.94%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/PortoRecanati-Lungomare.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 495px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 393px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 307px;
    width: 540px;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 289px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 205px;
    width: 340px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 708px;
  font-family: Merriweather, serif;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 474px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 305px;
  width: 360px;
  margin: 0 -24px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 305px;
  width: 360px;
  object-position: 36.58% 50%;
  margin: 0 -24px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 305px;
  width: 360px;
  object-position: 36.58% 50%;
  margin: 0 -24px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px 55px 0 auto;
  padding: 14px 84px 14px 83px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -50px auto 0 58px;
  padding: 14px 84px 14px 83px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -50px 420px 60px auto;
  padding: 14px 84px 14px 83px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-list-1 {
    min-height: 327px;
    height: auto;
    width: 918px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 204px;
    width: 260px;
    margin-top: 41px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-image-2 {
    height: 204px;
    width: 260px;
    margin-top: 41px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-image-3 {
    height: 204px;
    width: 260px;
    margin-top: 41px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-right: 74px;
    padding: 10px 52px 11px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -43px;
    margin-left: 52px;
    padding: 10px 54px 11px;
  }

  .u-section-2 .u-btn-3 {
    margin: -43px 220px 31px 362px;
    padding: 10px 42px 11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-list-1 {
    min-height: 380px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 176px;
    width: 199px;
    margin-top: 23px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-2 .u-image-2 {
    height: 176px;
    width: 199px;
    margin-top: 23px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-2 .u-image-3 {
    height: 176px;
    width: 199px;
    margin-top: 23px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
    margin-top: -94px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    align-self: center;
    margin-left: 18px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 260px;
    margin-bottom: 50px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    min-height: 275px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 145px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 145px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 145px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -69px;
    margin-right: 13px;
    padding: 7px 28px 8px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -37px;
    margin-left: 15px;
    padding: 7px 30px 8px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -37px;
    margin-right: 195px;
    margin-bottom: 42px;
    padding: 7px 18px 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 18px;
  }

  .u-section-2 .u-list-1 {
    min-height: 783px;
    grid-template-columns: 100%;
    grid-gap: 50px 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 175px;
    width: 224px;
    margin: -4px auto;
  }

  .u-section-2 .u-image-2 {
    height: 175px;
    width: 224px;
    margin: -4px auto;
  }

  .u-section-2 .u-image-3 {
    height: 175px;
    width: 224px;
    margin: -4px auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -592px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 241px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1573px;
}

.u-section-3 .u-image-1 {
  height: 1063px;
  margin-top: 16px;
  margin-bottom: 0;
  object-position: 100% 20.78%;
  margin-right: 0;
}

.u-section-3 .u-group-1 {
  min-height: 418px;
  background-image: linear-gradient(#cc7436, #ab622e);
  margin-top: 16px;
  margin-bottom: 60px;
  margin-right: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 12px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  font-family: Merriweather, serif;
  margin: 35px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    object-position: 100% 67.42%;
    margin-right: initial;
  }

  .u-section-3 .u-group-1 {
    margin-top: 11px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-3 .u-image-1 {
    height: 821px;
    margin-right: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 349px;
    margin-top: 10px;
    margin-right: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-3 .u-image-1 {
    height: 612px;
    margin-right: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 282px;
    margin-top: 8px;
    margin-right: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 16px 10px 1px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-image-1 {
    height: 386px;
    margin-top: 30px;
    margin-right: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 239px;
    margin-top: 7px;
    margin-bottom: 50px;
    margin-right: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }
}